

.topic{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
}

.inputContact{
    max-width: 500px;
}
.contactforus{
    background: #ddd;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 574px;
    border-radius: 10px;
    margin: auto;
}
