.header {
   
    position: absolute;
    height: 275px;
    width: 100%;
}

.banner {
    text-align: center;
    padding: 10px;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
}

.header1 {
    position: relative;
  
}

.header2 {
    position: relative;
}

.carousel-inner img {
    background-origin: content-box;
    margin: 10px 0;
    /* margin: 25px 550px; */
  }