
.banner {
    text-align: center;
    padding: 10px;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
}



.cover {
    position: absolute;
    width: 100%;
    left: 0;

}

.carousel{
    margin-bottom: -4%;
    padding-top: 25px;
}

.backward {
    border: 0px solid white;
}